<h2>Products</h2>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->

<!-- Angular FOR-syntax: *ngFor -->
<div *ngFor="let product of products; index as productId">
  <h3>
      <!-- Property binding [ ] lets you use the property value in a template expression. -->
      <!-- The route, or URL, contains one fixed segment, /products, while the final segment is variable, inserting the id property of the current product. -->
      <a [title]="product.name + ' details'"
         [routerLink]="['/products', productId]"> 
        <!-- Interpolation {{ }} lets you render the property value as text -->
        {{ product.name }}  
      </a>
  </h3>
  
  <!-- Angular IF-syntax: *ngIf -->
  <p *ngIf="product.description"> 
    Description: {{ product.description }}
  </p>

  <!-- Event binding ( ) -->
  <button (click)="share()">
    Share
  </button> 

  <!-- Using other Components -->
  <app-product-alerts
    [product]="product" 
    (notify)="onNotify()">
  </app-product-alerts>
</div>